/*MAIN PART*/
.manage-student-container{
  color: var(--white);
  font-size: .8rem;
  background-color: var(--dark-blue);
  margin: 3.2rem 1.6rem;
  padding: 1.6rem 2.4rem;
  box-shadow: var(--box-shadow);
}

.manage-student-form{
  width: 50%;
}

.manage-student-form-item{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-item-input{
  height: 1.6rem;
}

.score-input{
  width: 80%;
}

.form-item-score-container{
  display: flex;
  margin: 1rem 0;
}

.form-button{
  color: var(--white);
  background-color: var(--darkish-blue);
  border: 0;
  height: 1.8rem;
  width: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 200ms;
}
.form-button:hover,
.form-button:focus{
  box-shadow: 0 0 0 2px rgba(0,0,0,.3);
  background-color: hsl(217, 57%, 25%);
}

/*1st breakpoint*/
@media (max-width: 800px) {
  .manage-student-container{
    font-size: .7rem;
    margin: 2.4rem 1.2rem;
    padding: 1.4rem 2rem;
  }
  .manage-student-form{
    width: 70%;
  }
  .manage-student-form-item{
    margin: 1.2rem 0;
  }
  .form-item-input,
  .form-button{
    height: 1.4rem;
  }
  .form-button{
    font-size: .7rem;
    width: 60%;
  }

  .dropdown-select {
    font-size: .8rem;
    height: 1.4rem;
  }
}

/*1st breakpoint mobile*/
@media (max-width: 600px) {
  .manage-student-container{
    text-align: center;
    font-size: .7rem;
    margin: 2rem 1rem;
    padding: 1.2rem 1.6rem;
  }
  .manage-student-form,
  .form-button{
    width: 100%;
  }
  .manage-student-form-item{
    margin: 1.5rem 0;
  }
  .form-item-input,
  .form-button{
    height: 1.6rem;
  }
  .form-button{
    font-size: .8rem;
  }

  input::placeholder{
    font-size: .8rem;
  }
  
}

/*2nd breakpoint mobile*/
@media (max-width: 450px) {
  .manage-student-container{
    font-size: .6rem;
    margin: 1.6rem .8rem;
    padding: 1rem 1.2rem;
  }
  .form-item-input,
  .form-button{
    height: 1.6rem;
  }

  input::placeholder{
    font-size: .7rem;
  }
}